@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary-color: #e9e0d2;
  --secondary-color: #408e7b;

  --timer-color: #eaa09c;
  --scramble-color: #d44729;

  --primary-background-color: #173f35;
  --accent-color: #91170c;

  --destructive: #c21f1f;
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --destructive-light: #db4646;

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --border: oklch(0.269 0 0);
  --radius: 0.625rem;

  --nav-bar-color: #e9e0d2;
  --nav-bar-inactive: #408e7b;
  --footer-color: #e9e0d2;
  --footer-color-inactive: #408e7b;

  --component-background: #1f4e43;
  --component-background-sub: #d8cfc2;
  --component-font: #e9e0d2;
  --component-font-sub: #408e7b;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --timer-color: var(--timer-color);
  --scramble-color: var(--scramble-color);
  --color-nav-bar: var(--nav-bar-color);
  --color-nav-bar-inactive: var(--nav-bar-inactive);
  --color-footer: var(--footer-color);
  --color-footer-inactive: var(--footer-color-inactive);

  --color-primary-background: var(--primary-background-color);
  /* --color-secondary-background: var(--secondary-background-color); */

  --color-accent-color: var(--accent-color);

  /* --color-accent-foreground: var(--accent-foreground); */
  /* --color-secondary-foreground: var(--secondary-foreground); */
  /* --color-primary-foreground: var(--primary-foreground); */

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-light: var(--destructive-light);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  /* --color-border-foreground: var(--border-foreground); */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --color-component: var(--component-background);
  --color-component-sub: var(--component-background-sub);
  --color-component-font: var(--component-font);
  --color-component-font-sub: var(--component-font-sub);
}

@layer base {
  * {
    @apply duration-300;
  }
  body {
    @apply bg-primary-background text-primary;
  }
}
